li Abstraction
li Color
li Conceptual
li Expressive
li Line/Contour
li Realism
li Career Stage Gene
li Ceramics
li Glass
li Installation
li Mixed-Media
li Painting
li Performance
li Photography
li Sculpture
li Work on Paper/Print
li Pre-Impressionism/Old Masters
li Modern
li Contemporary
li Monochromatic
li Abstract Expressionism
li Collage
li Art Deco
li Art Informel
li Art Nouveau
li Arte Povera
li Arts and Crafts Movement
li Ashcan School
li Bad Painting
li Barbizon School
li Bauhaus
li Bloomsbury Group
li Body Art
li Color Field Painting
li Comic/Cartoon
li Constructivism
li Cubism
li Dada
li De Stijl
li East Village Art
li Fauvism
li Folk Art
li Oceanic Arts
li Fluxus
li Futurism
li Group Zero
li Gutai Art Group
li Harlem Renaissance
li Hudson River School
li Illustration
li Impressionism
li Institutional Critique
li Kinetic Sculpture
li Luminism
li Mexican Mural School
li Miniatures
li Minimalism
li Nabis
li Native American Art
li Neo-Dada
li Neo-Expressionism
li Neue Sachlichkeit
li New York School
li Nouveau Realisme
li Outsider Art
li Pattern and Decoration
li Photorealism
li Pictorialism
li Pointillism
li Post-Impressionism
li Postminimalism
li Purism
li Romanticism
li Mosaics
li Scuola Metafisica
li Social Realism
li Socialist Realism
li Surrealism
li Symbolism
li Synchronism
li Tonalism
li Metallic
li Viennese Workshop
li WPA works
li Young British Artists (YBA)
li Cityscape
li Human Figure
li Landscape
li Portrait
li Still Life
li Architecture
li Digital and Technology
li Documentary Photography
li Fashion Photography
li Feminist Art
li Gender Politics
li Geometric
li Identity Politics
li Isolation/Alienation
li Woodcuts
li Outdoor Sculpture
li Political
li Baroque
li Mannerism
li Conceptual Art
li Classicism
li Dutch and Flemish
li Viennese Actionism
li Byzantine Art
li Water/Seascapes
li Interiors
li Automatism
li Chiaroscuro
li Dynamism
li Caribbean
li Figurative Sculpture
li Contemporary Photographic Portraiture
li Flora
li Contemporary Figurative Painting
li Animals
li Nude
li Suprematism
li Renaissance
li Popular Culture
li Roughly-Finished
li Assemblage
li Purism Influence
li Art Informel Influence
li Bad Painting Influence
li Group Zero Influence
li Fluxus Influence
li Folk Art Influence
li Luminism Influence
li Mexican Mural School Influence
li Native American Art Influence
li Neue Sachlichkeit Influence
li New York School Influence
li Nouveau Realisme Influence
li Pictorialism Influence
li Post-Impressionism Influence
li Romanticism Influence
li Social Realism Influence
li Socialist Realism Influence
li Symbolism Influence
li Synchronism Influence
li Tonalism Influence
li WPA works Influence
li Classicism Influence
li Byzantine Influence
li Suprematism Influence
li Renaissance Influence
li Arts and Crafts Movement Influence
li Bloomsbury Group Influence
li California Minimalism Influence
li East Village Art Influence
li Gutai Art Group Influence
li Harlem Renaissance Influence
li Pattern and Decoration Influence
li Scuola Metafisica Influence
li Viennese Workshop Influence
li Dutch and Flemish Influence
li Viennese Actionism Influence
li Abstract Expressionism Influence
li Art Deco Influence
li Art Nouveau Influence
li Arte Povera Influence
li Ashcan School Influence
li Barbizon School Influence
li Baroque Influence
li Bauhaus Influence
li Body Art Influence
li Color Field Painting Influence
li Conceptual Art Influence
li Constructivism Influence
li Cubism Influence
li Dada Influence
li De Stijl Influence
li Fauvism Influence
li Futurism Influence
li Hudson River School Influence
li Impressionism Influence
li Mannerism Influence
li Minimalism Influence
li Nabis Influence
li Neo-Dada Influence
li Neo-Expressionism Influence
li Outsider Art Influence
li Photorealism Influence
li Pointillism Influence
li Postminimalism Influence
li Surrealism Influence
li Young British Artists (YBA) Influence
li Assemblage Influence
li Influenced by Andy Warhol
li Influenced by Marcel Duchamp
li Influenced by Pablo Picasso
li Influenced by Paul Cézanne
li Influenced by Jasper Johns
li Influenced by Robert Rauschenberg
li Influenced by Josef Albers
li Influenced by John Cage
li Influenced by Merce Cunningham
li Influenced by Leonardo da Vinci
li Influenced by Jean Dubuffet
li Influenced by Walker Evans
li Influenced by Lisette Model
li Influenced by Bernd and Hilla Becher
li Modernist Photography
li Influenced by Robert Henri
li Japonisme
li Influenced by Alfred Stieglitz
li Influenced by Gustave Courbet
li Conflict
li Influenced by Barnett Newman
li Influenced by Paul Klee
li Influenced by Piet Mondrian
li Influenced by Henri Matisse
li Influenced by Lucian Freud
li Influenced by Constantin Brancusi
li Influenced by Jean Arp
li Influenced by Kasimir Malevich
li Influenced by Arshile Gorky
li The Studio
li Color Histogram 0 Hue
li Color Histogram 0 Saturation
li Color Histogram 0 Lightness
li Color Histogram 0 Coverage
li Color Histogram 1 Hue
li Color Histogram 1 Coverage
li Color Histogram 1 Saturation
li Color Histogram 1 Lightness
li Color Histogram 2 Hue
li Color Histogram 2 Saturation
li Color Histogram 2 Lightness
li Color Histogram 2 Coverage
li Influenced by Salvador Dalí
li Photo-Secession
li Group f/64
li Photojournalism
li Americana
li Suburbia
li Rural Life
li Related to Fashion
li Anthropomorphism
li Humor
li Impasto
li Calligraphic
li En plein air
li Modernizing of Traditional Technique
li Soft edge/Soft focus
li Emphasis on Line
li Self-Portrait
li Glamour
li Tapestry/Textiles
li The Pictures Generation
li The Pictures Generation Influence
li Feminist Art Influence
li Photo-Secession Influence
li Group f/64 Influence
li Modernist Photography Influence
li Op Art
li Op Art Influence
li Biomorphic
li Erotic
li Grotesque
li Mortality
li Youth
li Nostalgia
li Nature
li Medical/Health
li Crime
li Contemporary Conceptualism
li Time
li Appropriation
li Influenced by Edouard Manet
li Influenced by Albrecht Dürer
li Influenced by Willem de Kooning
li Influenced by Chuck Close
li Influenced by John Baldessari
li Influenced by Francis Picabia
li Influenced by Giorgio de Chirico
li School of London
li School of London Influence
li Nineteenth Century Realism
li Nineteenth Century Realism Influence
li American Realism
li American Realism Influence
li American Modernism
li American Modernism Influence
li Illustration/Art
li Influenced by Henri Cartier-Bresson
li Influenced by Rembrandt
li Influenced by Vincent van Gogh
li Influenced by Diane Arbus
li Influenced by Edgar Degas
li Influenced by Mark Rothko
li Contemporary Gothic
li Contemporary Grotesque
li Performance Art
li Performance Art Influence
li Video Art
li Video Art Influence
li Influenced by Egon Schiele
li Process-Oriented
li Kitsch
li Art/Design
li Psychedelic
li Ephemeral
li Organic
li Narrative
li Art About Art
li Artwork Iconicity
li Influenced by Gerhard Richter
li Influenced by Ed Ruscha
li Influenced by Bruce Nauman
li Process Art
li Process Art Influence
li Influenced by David Park
li Influenced by Jackson Pollock
li Influenced by Wassily Kandinsky
li Influenced by Joseph Beuys
li Love
li Post-World War I European Classicism
li Influenced by Robert Smithson
li Influenced by Edward Hopper
li Influenced by Ansel Adams
li Influenced by Jean-François Millet
li Traditional Scroll Painting
li Political Pop
li Cynical Realism
li '85 New Wave
li Traditional Scroll Painting Influence
li Spatialism
li Spatialism Influence
li Influenced by Georges Seurat
li Influenced by Kurt Schwitters
li The Blue Rider
li The Blue Rider Influence
li Influenced by Georges Braque
li Nul Group
li Nul Group Influence
li Influenced by Robert Delaunay
li Literature
li '85 New Wave Influence
li Vienna Secession
li Vienna Secession Influence
li American Regionalism
li American Regionalism Influence
li Influenced by Francis Bacon
li Happenings
li Happenings Influence
li Influenced by David Smith
li Art Brut
li Art Brut Influence
li Influenced by Julio González
li Influenced by Robert Morris
li Food
li Influenced by Louise Bourgeois
li Color Theory
li Influenced by Martin Munkácsi
li Influenced by Joseph Cornell
li Race
li Contemporary Feminist
li Contemporary Political Minimalism/Conceptualism
li Influenced by Paul Gauguin
li Influenced by Michelangelo
li Austrian and German Expressionism
li Austrian and German Expressionism Influence
li Influenced by Robert Ryman
li Influenced by Brice Marden
li Influenced by Donald Judd
li Influenced by Dan Flavin
li Capitalist Realism
li Capitalist Realism Influence
li Influenced by Edward Weston
li Land Art
li Influenced by Morris Louis
li Influenced by Edvard Munch
li Influenced by Laszlo-Moholy Nagy
li Influenced by Andrew Wyeth
li Sports/Athletics
li Repetition
li Gestural
li Model/Maquette
li Animation
li Influenced by Sigmar Polke
li Influenced by Robert Motherwell
li Influenced by Roberto Matta
li Influenced by Hans Hofmann
li Funk Art
li Funk Art Influence
li Primary Mark
li Primary Abstraction
li Austere
li Ruined/Aged/Deteriorated
li Uneven/Unbalanced/Distorted
li Creased/Crinkled/Wrinkled
li Hairy/Furry/Shaggy/Fluffy
li Angular/Sharp Lines/Severe Geometry
li Symmetrical 
li Faded/Washed Out/Hazy
li Sfumato
li Color Gradient
li Woven/Knit
li Wavy Lines
li Dotted
li Matte
li Shiny/Glossy
li Electrical/Mechanical
li Highly-Detailed
li Bright/Vivid
li Sheer/Translucent/Transparent
li Large Brushstrokes/Loose Brushwork
li Lightweight
li Dense
li Texturally-Layered
li Round/Bulbous
li Slimy/Sticky/Greasy/Gooey
li Soft/Velvety/Silky
li Sharp/Prickly/Bumpy
li Rough/Sandpapery/Scratchy
li Blurred 
li Cross-Hatched
li Squiggled Lines
li Smooth
li Fragile
li Hard
li Fluids
li Vibrating
li Thin Brushstrokes or Marks
li Sparkly/Glittery
li Maps/Networks
li Grid/Lattice
li Influenced by Julian Schnabel
li Influenced by Richard Prince
li Influenced by Jeff Koons
li Influenced by Cy Twombly
li Related to Toys
li Influenced by Claude Monet
li Influenced by Richard Serra
li Influenced by Francisco Goya
li Influenced by Caravaggio
li Film/Video
li Influenced by Alexander Calder
li Movement
li Computer Art
li Contemporary Ceramics
li Influenced by Franz Kline
li Influenced by Joseph Stella
li Influenced by Wayne Thiebaud
li Influenced by Raphaelle Peale
li Engagement with Theory
li Artifacts
li Personal Histories
li United Kingdom
li Influenced by Clyfford Still
li Influenced by Giorgio Morandi
li Long Exposure
li Related to Music
li Encaustic
li Use of Everyday Objects
li Cracked
li Intentionally Exposed Canvas
li Stained
li Splattered
li Luminous/Halo Effect
li Primary Colors
li Dark
li Large-Scale Photography
li Camera Obscura
li Dirty/Filthy
li Urbanization
li City Life
li Influenced by Fernand Leger
li Influenced by Johannes Vermeer
li Street Art
li Graffiti
li Influenced by Robert Frank
li Suspended/Hanging
li Group of Portraits
li Conceptual Portraiture
li Individual Portrait
li Pop Art
li Disaster
li Chance
li Contemporary Participation
li Documentation of Social Life
li Immersive 
li Contemporary Culture Critique
li Contemporary Pop
li Diaristic Photography
li Fantastic Environments
li Hard-Edged
li Molecular
li Photo-abstraction
li Stolen Moments
li Unsettling
li Patterns
li Pixelated
li High Contrast
li Engagement with Mass Media
li Reflection/Mirrored
li Sound Art
li Emits Noise
li Sound
li Topographic Photography
li Obsessive
li Germany and Austria
li Western Europe
li United States
li China
li Russia
li Australia and New Zealand
li South Africa
li India
li Cuba
li Latin America
li Canada
li Switzerland
li Eastern Europe
li Scandinavia
li Central America
li France
li Korea
li Italy
li Japan
li Middle East
li North Africa
li South America
li Spain
li Sub-Saharan Africa
li Southeast Asia
li The Netherlands
li Southern Europe
li Provocative
li Decorative
li Influenced by Thomas Cole
li Ink-and-Wash Painting
li Use of Common Materials
li Metaphor/Allegory
li Myth/Religion
li Travel/Tourism
li Influenced by Paul Strand
li Science and Math
li War
li Influenced by James Abbott McNeill Whistler
li Influenced by Vito Acconci
li The Performing Arts
li Language
li Focus on Materials
li Formal Elements
li CoBrA
li Influenced by Joan Mitchell
li Post-'70s Ego Generation
li Infographics
li Related to Film
li Cinematic
li Commodity
li Stylistic Pastiche
li Photographic Source
li Private or Personal Spaces
li Contemporary Portraiture (Painting)
li Multiple Exposure
li Sinuous Line
li Monochrome Painting
li Burned/Charred
li Interactive
li Influenced by Eadweard Muybridge
li Cross-Cultural Dialogue
li Depiction of Everyday Objects
li Melting
li Circus/Carnival
li Overlays
li New Topographics
li New Topographics Influence
li Influenced by August Sander
li Zaire School of Popular Painting
li Cut/Ripped
li Influenced by Andreas Gursky
li Nonlinear Narrative
li Multiple Screens
li The Internet
li Surveillance
li Influenced by Auguste Rodin
li Silkscreen
li Large-Scale Sculpture
li Slow Motion
li Influenced by Yvonne Rainer
li Influenced by Marcel Broodthaers
li Influenced by Gordon Matta-Clark
li Influenced by John Martin
li Dau Al Set
li Typography
li Influenced by Stuart Davis
li Influenced by John Graham
li Single Object
li Collective History
li Art That Plays With Scale
li Influenced by Blinky Palermo
li Influenced by Rosemarie Trockel
li Influenced by Joseph Mallord William Turner
li Influenced by Jacob Epstein
li Old Master Drawings and Prints
li Focus on the Earth/Environment
li Curving Lines
li Use of Drips
li Scattered Arrangement
li Smeared or Smudged Medium
li Tangled Forms
li Influenced by Camille Pissarro
li Influenced by Anthony Caro
li Influenced by François Boucher
li Influenced by Jean-Auguste-Dominique Ingres
li Influenced by Vladimir Tatlin
li Influenced by James Rosenquist
li Influenced by Paul Feeley
li Influenced by Rufino Tamayo
li Influenced by Emile Bernard
li Diaristic
li Influenced by Paulo Uccello
li Influenced by Andrea Mantegna
li Influenced by Piero della Francesca
li Influenced by Man Ray
li Influenced by Max Ernst
li Influenced by Joan Miró
li Influenced by Frank Stella
li Influenced by Ellsworth Kelly
li Influenced by Richard Avedon
li Public Art
li The Body
li Stripe/Striped
li Close-Up
li Outer Space
li Use of Wall
li Self as Subject
li Influenced by Sol LeWitt
li Influenced by John McCracken
li Influenced by Diego Velázquez
li Group Portrait
li Text
li Pre-Raphaelites
li Pre-Raphaelites Influence
li Machines
li Modes of Transportation
li Industry
li Trompe l’oeil/Hyperrealism
li Abstract Sculpture
li Die Brücke
li Die Brücke Influence
li Psychoanalysis
li Influenced by Edward Steichen
li Consumerism
li Flatness
li Black and White Photography
li New Leipzig School
li Relational Aesthetics
li Rococo
li Influenced by Arturo Martini
li Influenced by William Henry Jackson
li Influenced by Aaron Siskind
li Influenced by Thomas Sully
li Influenced by Gustave Moreau
li Influenced by Auguste Renoir
li Medieval Art
li Typologies
li Early Renaissance
li High Renaissance
li Northern Renaissance
li Africa
li Time-Lapse Cinematography
li Manipulated Photography
li Staged Photography
li Sculpture-Based Photography
li Light
li Light as Subject
li Influenced by Claes Oldenburg
li Influenced by Edward Kienholz
li Influenced by El Greco
li Rococo Influence
li Open Form Sculpture
li Influenced by Eva Hesse
li Group of Objects
li Bay Area Figurative Art
li Early Medieval Art
li Romanesque Art
li Advertising and Brands
li Light and Space Movement
li Drawing
li Globalization
li Bay Area Figurative Art Influence
li Site Specificity
li Neoclassicism
li Collecting
li Precisionism
li Lumpy
li Piles
li American Impressionism
li American Narrative Painting
li Contemporary Graphic Realism
li Contemporary Found Objects
li Contemporary Undifferentiated Abstraction
li Contemporary Street Art
li Contemporary Re-creations
li Contemporary Engaged with the Pathetic
li Contemporary Surrealistic
li Contemporary Abstract vs Figurative
li Contemporary Traces of Memory
li Contemporary Modernist-Type Photography
li Contemporary Color Fields
li Influenced by John Chamberlain
li Visual Perception
li Contemporary Traditionalism
li Land Art Influence
li Gothic Art
li Pop Art Influence
li Saturated Color
li Neo-Geo
li American Works on Paper 1880-1950
li American Prints 1880-1950
li Mono-ha
li Cluj School
li Contemporary DIY
li Influenced by Maurice Denis
li Gothic Influence
li Contemporary Social Action
li Neo-Conceptualism
li Influenced by James Ensor
li Influenced by Philip Guston
li CoBrA Influence
li Group Material
li Influenced by On Kawara
li Influenced by Eugène Atget
li Influenced by Jeff Wall
li Obsolescence
li Dusseldorf School of Photography
li Artist as Ethnographer
li Aftermath of Event
li The New Fauves
li American Works on Paper (1880-1950)
li 1960s/1970s German Painting
li Contemporary Patterns
li Northern Renaissance Influence
li Early Renaissance Influence
li High Renaissance Influence
li Mono-ha Influence
li Gothic Art Influence
li American Impressionism Influence
li Influenced by Dale Chihuly]