!!! 5
html
  head
    title
      | How Art.sy Uses Backbone.js
    link(rel='stylesheet', href='stylesheets/normalize.css')
    link(rel='stylesheet', href='stylesheets/style.css')
  body.alt
    .off-stage
      .slide.title
        .welcome
          .col.artsy_logo
            img(src='images/artsy.png')
          .col
            h1 How Art.sy Uses Backbone.js
            ul.by
              li
                p Gib Reimschüssel
                p @greims
                p gib@art.sy
              li
                p Craig Spaeth
                p @craigspaeth
                p craig@art.sy
      
      .slide.centercontents
        h1 Art.sy Pitch
      
      .slide.centercontents
        .col
          h1 Our Stack
          ul.arrows
            li Rails 3.1.3 (from Rails 2)
            li Grape API
            li MongoDB
            li Node
      
      .slide.title
        h1
          em
            | Thank you
            br
    
    .stage
    script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script
    script(src='javascripts/jquery.js')
    script(src='javascripts/deck.js')
