@import url("type.css");
html {
  height: 100%;
  width: 100%;
}
body {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  color: #000;
  overflow: hidden;
  -webkit-perspective: 1000px;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  width: 100%;
  height: 100%;
  font-family: 'AdobeGaramondProRegular', serif;
}
body a,
body a:visited {
  color: #6b03ce;
  text-decoration: none;
}
body a:hover,
body a:visited:hover {
  color: #6b03ce;
  border-bottom: 1px solid;
}
body h1 {
  border-bottom: 1px solid #000;
  float: left;
  font-size: 26px;
  font-weight: normal;
  margin: 0;
}
body .purple {
  color: #6b03ce;
}
body .bg {
  position: absolute;
  z-index: 7;
  height: 100%;
  width: 100%;
}
body .stage {
  height: 675px;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-transform-style: preserve-3d;
  z-index: 8;
  width: 1150px;
  width: 100%;
}
.twitter {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 50px;
  font-size: 26px;
}
.table_flip {
  height: 150px;
  display: block;
  float: left;
  line-height: 150px;
  margin-right: 30px;
}
footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  z-index: 10;
}
footer p {
  float: left;
}
.off-stage {
  display: none;
}
.slide {
  background-color: transparent;
  color: #000;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 50px;
  height: 675px;
  height: 100%;
  padding: 50px;
  position: absolute;
  width: 1150px;
  width: 100%;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-transform 0.8s ease-in-out, opacity 1.2s ease-in-out;
  -moz-transition: -webkit-transform 0.8s ease-in-out, opacity 1.2s ease-in-out;
  -o-transition: -webkit-transform 0.8s ease-in-out, opacity 1.2s ease-in-out;
  -ms-transition: -webkit-transform 0.8s ease-in-out, opacity 1.2s ease-in-out;
  transition: -webkit-transform 0.8s ease-in-out, opacity 1.2s ease-in-out;
}
.slide h1 {
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 1em;
}
.slide ul {
  clear: both;
  margin: 0;
  padding: 0;
  font-size: 50px;
  line-height: 2em;
}
.slide ul.arrows {
  list-style: none;
}
.slide ul margin-left 0 {
  padding-left: 1em;
}
.slide ul margin-left 0 text-indent -1em li:before {
  content: "\00BB \0020";
}
.slide ul.small {
  font-size: 15px;
}
.slide ul.column-12 {
  -webkit-column-count: 12;
  -moz-column-count: 12;
  column-count: 12;
}
h1.centered {
  text-align: center;
}
.centered {
  display: -webkit-box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  margin-top: -10%;
}
.centered.filled {
  margin-top: 0;
}
.centered h1 {
  float: none;
  margin-bottom: 50px;
}
.code {
  background-color: #fff;
  border: 2px so;
  font-family: courier;
  padding: 0px 20px;
  border: 4px solid;
  margin: 10px 0;
  font-size: 26px;
}
.far-past {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -webkit-transform: translateZ(-600px) rotateY(-180deg) translateZ(600px);
  -webkit-backface-visibility: hidden;
}
.past {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -webkit-transform: translateZ(-600px) rotateX(-90deg) translateZ(600px);
  -webkit-backface-visibility: hidden;
}
.past-alt {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -webkit-transform: translateZ(-600px) rotateX(-90deg) translateZ(600px);
  -webkit-backface-visibility: hidden;
}
.current {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -webkit-transform: translateZ(-600px) rotateY(0deg) translateZ(600px);
  -webkit-backface-visibility: hidden;
}
.future {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -webkit-transform: translateZ(-600px) rotateY(90deg) translateZ(600px);
  -webkit-backface-visibility: hidden;
}
.future-alt {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -webkit-transform: translateZ(-600px) rotateX(90deg) translateZ(600px);
  -webkit-backface-visibility: hidden;
}
.far-future {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -webkit-transform: translateZ(-600px) rotateY(180deg) translateZ(600px);
  -webkit-backface-visibility: hidden;
}
.title {
  background-color: #6b03ce;
  color: #fff;
}
.title h1 {
  border-bottom: none;
  font-size: 70px;
  text-transform: none;
}
.title .col {
  float: left;
  height: 100%;
  width: 700px;
}
.title .artsy_logo {
  float: left;
  margin-right: 155px;
  width: auto;
}
.title .by {
  float: left;
  list-style: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 50px;
}
.title .by li {
  float: left;
  margin: 0;
  margin-right: 100px;
  list-style: none;
}
.title .by li p {
  font-size: 30px;
  line-height: 38px;
  margin: 0;
}
